.phonebook {
  padding: 60px 0;
}

.phonebook-inner-container {
  background-color: black;
  color: white
}

.phonebook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 20px;
  border-bottom: solid 1px grey;
  margin-bottom: 20px;
}

.phonebook-add {
  border: solid 2px white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.phonebook-search input {
  width: 100%;
}

.phonebook-form {
  padding: 30px 0;
}

.phonebook-contacts {
  min-height: 300px;
  padding: 30px 0;
}

.phonebook-contacts ul {
  list-style: none;
  padding: 0;
}

.phonebook-contacts ul li.contact {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid 1px gray;
  margin: 0 15px;
}

.phonebook-contacts ul li.contact:first-child {
  border-top: solid 1px gray;
}

.phonebook-contacts ul li.empty {
  text-align: center;
}  

input.form-control {
  outline: none;
  box-shadow: none;
  outline: none;
}


input.form-control.form-control--error {
  border: solid 2px red;
}

.phonebook-form__error {
  color: red;
}

.btn-primary {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 15px;
  box-shadow: none;
}

.phonebook-add:hover,
.btn-primary:hover {
  background-color: white;
  color: black;
  border-color: white;
  transition: all 200ms ease-in-out;
}

.form-group--phonebook-footer {
  display: flex;
  justify-content: space-between;
}